body{
    background-color: red;
}
.panel{
    margin: auto;
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#yes{
    position: absolute;
    height: 40px;
    width: 60px;
    margin-left: -70px;
    background-color: red;
    border:2px solid white;
    border-radius: 10px;
    color: white;
}
#no{
    position: absolute;
    height: 40px;
    width: 60px;
    background-color: red;
    border:2px solid white;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
}
.hide{
    display: none;;
}